.recipe-detail {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	border: var(--debug-border) red;
	justify-content: flex-start;
	column-gap: 5rem;
}

@media (max-width: 600px) {
	.recipe-detail h1 {
		font-size: 2rem;
	}
}
